---
http_interactions:
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:ticket%0D%0A%2B%20event_id:4187540%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":0,"params":{"wt":"json","rows":"10","start":"0","q":"+
        stubhubDocumentType:ticket\r\n+ event_id:4187540\r\n"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentId":"ticket-488218079","stubhubDocumentType":"ticket","courier":"0","curr_price":78.0,"curPr":78.0,"date_added":"2013-02-25T07:21:23Z","date_last_modified":"2013-02-25T07:22:34Z","delivery_icon":"fedex","end_date":"2013-12-05T00:30:00Z","event_id":"4187540","id":"488218079","priceGroups":"1","quantity":6,"quantity_facet_str":"6
        tickets|6","quantity_remain":6,"row_desc":"V","sale_method":"1","seats":"General
        Admission","section":"Mezzanine Level","seller_cobrand":"www","seller_id":"6802387","showTicketKeyStr":"ticketACTIVE4187540","split_option":"1","status":"0","system_status":"ACTIVE","ticket_list_type_desc":"Ticket","ticket_list_type_id":"1","ticket_medium_id":"2","ticket_split":1,"time_left":"263d
        15h 39m","listing_source_id":"7","listing_source_name":"IndyGen3","updateInitiatedTimestamp":"2013-03-16T08:50:43.161Z","currency_code":"USD","dateLastIndexed":"2013-03-16T08:50:57.348Z","fm_dm_rules":["5,1,4.95,,2013-12-05T00:30:00Z"],"fm_dm_rules_desc":["PDF,Electronic
        - Download,4.95,,2013-12-05T00:30:00Z"]}]}}'
  recorded_at: Sat, 16 Mar 2013 20:52:54 GMT
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:event%0D%0A%2B%20description:above%20and%20beyond%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":2,"params":{"wt":"json","rows":"10","start":"0","q":"+
        stubhubDocumentType:event\r\n+ description:above and beyond\r\n +allowedViewingDomain:stubhub.com"}},"response":{"numFound":6,"start":0,"docs":[{"stubhubDocumentId":"event-4259348","stubhubDocumentType":"event","event_id":"4259348","act_primary":"Above
        and Beyond","id":"4259348","active":"0","cancelled":"0","allowedtoconfirm":"1","allowedtosell":"0","ancestorGenreIds":"0
        1 63910 494083","ancestorGeoIds":"0 196976 673 674 180347","channel":"Concert
        tickets","channelId":"1","channelUrlPath":"concert-tickets","channel_facet_str":"Concert
        tickets|1","city":"Boston","date_confirm":"2013-03-18T17:16:37Z","date_inhand":"2013-03-19T17:16:37Z","date_last_modified":"2013-05-22T00:32:27Z","date_onsale":"2013-03-19T17:16:37Z","description":"Above
        and Beyond Tickets (18+ Event)","desc_sort":"Above and Beyond Tickets (18+
        Event)","eventDate_facet_str":"May, 2013|2013-05","eventGenreParentDescription_facet_str":"Above
        and Beyond Tickets|494083","eventGeoDescription":"Royale Boston","eventGeoDescription_text":"Royale
        Boston","eventLocation_facet_str":"Massachusetts, Boston|674","event_date":"2013-05-22T00:00:00Z","event_date_local":"2013-05-21","event_date_time_local":"2013-05-21T20:00:00Z","event_time_local":"20:00:00","event_type":"4259348,","evt_segmentation_id":"0","genreDateDesc":"music-genre-dance-music-tickets,,Concert,
        concert, gigs, tickets, tour, dates, biography","genreUrlPath":"above-and-beyond-tickets","genre_grand_parent_id":"63910","genre_grand_parent_name":"Artists
        A - C","genre_parent":"494083","genre_parent_name":"Above and Beyond Tickets","geoEventTypes":"","geoUrlPath":"royale-boston-tickets","geography_parent":"180347","hide_event_date":"0","image_url":"stubhub_463220_GA_generic.png","is_eticket_allowed":"0","is_integrated_team":"N","keywords":"Above
        and Beyond, , Above and Beyond Royale Boston, Above and Beyond Boston,Above
        and Beyond Concert, buy, sell, ticket, tickets","last_chance":"2013-05-22T00:00:00Z","maxPrice":0.0,"maxSeatsTogether":0.0,"meta_description":"Above
        and Beyond Royale Boston Tickets - Buy and sell Above and Beyond Boston Tickets
        for May 21 at Royale Boston in Boston, MA on StubHub!","minPrice":0.0,"minSeatsTogether":0.0,"name_primary":"Royale
        Boston","name_secondary":"Above and Beyond","nickname":"concerts","seo_description":"Above
        and Beyond at Royale Boston","seo_title":"Above and Beyond Royale Boston Boston
        Tickets - 2013-5-21","spark_event_flag":"0","state":"MA","threeLevelsUpIds":"494083
        63910 1","title":"Above and Beyond Boston Tickets - Above and Beyond 05/21/2013
        Royale Boston Tickets on StubHub!","totalPostings":0,"totalTickets":0.0,"type_id":"0","urlpath":"above-and-beyond-boston-royale-boston-21-5-2013-4259348","urlpathid":"2306346","venue_config_id":"463220","venue_name":"Royale
        Boston","venue_name_text":"Royale Boston","venueconfigurationid":"463220","zip":"02116","artistPrimaryStyle":"195489","is_event_package":"0","latitude":42.349953,"longitude":-71.10707,"lat_lon":"42.349952,-71.10707","date_added":"2013-03-19T17:16:37Z","event_status_id":5,"timezone":"EST","timezone_id":"2","venue_config_name":"General
        Admission","updateInitiatedTimestamp":"2013-05-22T20:00:39.633Z","book_of_business_id":1,"currency_code":"USD","event_config_template_id":"1","event_config_template":"Concert","keywords_en_US":"Above
        and Beyond, , Above and Beyond Royale Boston, Above and Beyond Boston,Above
        and Beyond Concert, buy, sell, ticket, tickets","event_type_en_US":"4259348,","seo_title_en_US":"Above
        and Beyond Royale Boston Boston Tickets - 2013-5-21","seo_description_en_US":"Above
        and Beyond at Royale Boston","name_primary_en_US":"Royale Boston","name_secondary_en_US":"Above
        and Beyond","act_primary_en_US":"Above and Beyond","title_en_US":"Above and
        Beyond Boston Tickets - Above and Beyond 05/21/2013 Royale Boston Tickets
        on StubHub!","meta_description_en_US":"Above and Beyond Royale Boston Tickets
        - Buy and sell Above and Beyond Boston Tickets for May 21 at Royale Boston
        in Boston, MA on StubHub!","event_description_en_US":"Above and Beyond Tickets
        (18+ Event)","jdk_timezone":"US/Eastern","ptv_integrated_event_ind":0,"venueDetailUrlPath":"royale-boston","access_control_method":0,"is_scrubbing_enabled":"0","view_from_section_ind":0,"bundled_type":"1","hide_event_time":0,"minListPrice":0.0,"dateLastIndexed":"2013-05-22T20:01:57.021Z","genreStartingAlphabet":["a"],"allowedViewingDomain":["stubhub.com"],"locale":["en_US"],"ancestorGeoDescriptions":["By
        Geography","United States","Massachusetts","Boston","Royale Boston"],"ancestorGenreDescriptions":["All
        tickets","Concert tickets","Artists A - C","Above and Beyond Tickets"]},{"stubhubDocumentId":"event-4267610","stubhubDocumentType":"event","event_id":"4267610","act_primary":"Above
        and Beyond","id":"4267610","active":"0","cancelled":"0","allowedtoconfirm":"1","allowedtosell":"0","ancestorGenreIds":"0
        1 63910 494083","ancestorGeoIds":"0 196976 673 674 180347","channel":"Concert
        tickets","channelId":"1","channelUrlPath":"concert-tickets","channel_facet_str":"C[...]
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:event%0D%0A%2B%20event_id:4187540%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":0,"params":{"wt":"json","rows":"10","start":"0","q":"+
        stubhubDocumentType:event\r\n+ event_id:4187540\r\n +allowedViewingDomain:stubhub.com"}},"response":{"numFound":1,"start":0,"docs":[{"stubhubDocumentId":"event-4187540","stubhubDocumentType":"event","event_id":"4187540","act_primary":"2013
        AMT Christmas Show","id":"4187540","active":"1","cancelled":"0","allowedtoconfirm":"1","allowedtosell":"1","ancestorGenreIds":"0
        1 63910 726864","ancestorGeoIds":"0 196976 521 522 63483","channel":"Concert
        tickets","channelId":"1","channelUrlPath":"concert-tickets","channel_facet_str":"Concert
        tickets|1","city":"Lancaster","date_confirm":"2012-12-06T17:55:16Z","date_inhand":"2012-12-07T19:30:16Z","date_last_modified":"2013-04-17T18:13:11Z","date_onsale":"2012-12-07T17:55:17Z","description":"2013
        AMT Christmas Show: The First Noel Tickets","desc_sort":"2013 AMT Christmas
        Show: The First Noel Tickets","eventDate_facet_str":"December, 2013|2013-12","eventGenreParentDescription_facet_str":"AMT
        Christmas Show Tickets|726864","eventGeoDescription":"American Music Theatre
        - Lancaster","eventGeoDescription_text":"American Music Theatre - Lancaster","eventLocation_facet_str":"Pennsylvania,
        Philadelphia|522","event_date":"2013-12-07T00:30:00Z","event_date_local":"2013-12-06","event_date_time_local":"2013-12-06T19:30:00Z","event_time_local":"19:30:00","[...]
