---
http_interactions:
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:geo%0D%0A%2B%20description:Bob%20Hope%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":2,"params":{"wt":"json","rows":"10","start":"0","q":"+
        stubhubDocumentType:geo\r\n+ description:Bob Hope\r\n"}},"response":{"numFound":7,"start":0,"docs":[{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-81989","active":"1","deleted":"0","description":"Bob
        Hope Theatre","desc_sort":"Bob Hope Theatre","geoId":"81989","id":"81989","hidden":"0","ancestorGeoIds":"81989
        81 4 196976 0","ancestorKeywords":"Bob Hope Theatre seating chart box office
        address capacity floor plan best seats images parking directions to details
        information restaurants SF Bay Area event ticketsSF Bay Area Venues events
        in SF Bay Areatickets for events in SF Bay Area sfbay sf s.f. bay California
        event ticketsCalifornia Venues events in Californiatickets for events in California
        ca cali cal United States event tickets United States Venues events in United
        States tickets for events in United States event tickets by city","categorySearchKeywords":"Bob
        Hope Theatre Bob Hope Theatre - Info and Details - StubHub! All the information
        you need on Bob Hope Theatre like seating charts directions box office address.
        Find nearby parking restaurants and hotels near Bob Hope Theatre on StubHub!
        Bob Hope Theatre seating chart box office address capacity floor plan best
        seats images parking directions to details information restaurants Bob Hope
        Theatre Bob Hope Theatre Bob Hope Theatre Bob Hope Theatre clubs-bars-theater-venues
        Bob Hope Theatre","categoryType":"geo","channel":"United States","channelId":"196976","channelUrlPath":"united-states-tickets","do_not_display_flag":"0","event_types":"clubs-bars-theater-venues","fullDescription":"SF
        Bay Area, California in Bob Hope Theatre","isValidCategorySearchResult":"1","keywords":"Bob
        Hope Theatre seating chart, box office, address, capacity, floor plan, best
        seats, images, parking, directions to, details, information, restaurants","leaf":"true","localeDescription":"SF
        Bay Area, California","meta_description":"All the information you need on
        Bob Hope Theatre, like seating charts, directions, box office, address. Find
        nearby parking, restaurants and hotels near Bob Hope Theatre on StubHub!","name_primary":"Bob
        Hope Theatre","name_secondary":"Bob Hope Theatre","parent_id":"81","season_venue_flag":"0","seo_description":"Bob
        Hope Theatre","seo_title":"Bob Hope Theatre","threeLevelsUpIds":"81989 81
        4","title":"Bob Hope Theatre - Info and Details - StubHub!","urlpath":"bob-hope-theatre-event-tickets","urlpathid":"123778","ancestorDescription":"Bob
        Hope Theatre SF Bay Area California United States By Geography","date_last_modified":"2013-04-17T18:13:11Z","venueDetailUrlPath":"bob-hope-theatre","venueDetailUrlPathId":"2069426","dateLastIndexed":"2013-04-21T12:55:05.527Z","locale":["en_US"]},{"stubhubDocumentType":"geo","stubhubDocumentId":"geo-79386","active":"1","deleted":"0","description":"Bob
        Carpenter Center","desc_sort":"Bob Carpenter Center","geoId":"79386","id":"79386","hidden":"0","ancestorGeoIds":"79386
        522 521 196976 0","ancestorKeywords":"Bob Carpenter Center seating chart box
        office address capacity floor plan best seats images parking directions to
        details information restaurants Philadelphia event ticketsPhiladelphia Venues
 [...]
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:geo%0D%0A%2B%20localeDescription:SF%20Bay%20Area%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":2,"params":{"wt":"json"[...]
- request:
    method: get
    uri: http://www.stubhub.com/listingCatalog/select/?q=%2B%20stubhubDocumentType:geo%0D%0A%2B%20geoId:81989%0D%0A&rows=10&start=0&wt=json
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '{"responseHeader":{"status":0,"QTime":51,"params":{"wt":"json","rows":"10","start":[...]
